

.card-emoji-container{
  height: 100%;
  width: 100%;
  position: relative;
  .card-emoji-header{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    h2{
      font-size: 2rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-transform: uppercase;
    }
  }
  .card-emoji-body{
    width: 90%;
    margin: 0 auto;
  }
}